@import 'variables.scss';

footer {
    margin: 0 auto;
    padding: 0em 6em 0em 6em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width:50%;

    @media screen and (max-width: $max-width) {
        max-width: 100%;
    }

    .adelalogofooter {
        height: 3em; /* Max height of logo */
        width: 3em;
    }
    .socialmediaicons {
        display: flex;
    }

}
