@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap/scss/_forms.scss';
@import '../../node_modules/bootstrap/scss/_buttons.scss';

@import 'variables.scss';
@import 'header.scss';
@import 'home.scss';
@import 'portfolio.scss';
@import 'aboutme.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'skills.scss';


* {
    box-sizing: border-box;
}
html {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #606060; /* #444444 */;
    margin: 0 auto;
    padding: 0;
}

body {
    color: #606060;
}
.container {
    display: flex; /* displays flex */
    justify-content: space-around;
    margin: 0 auto;
}

section {
    padding: 0em 6em 0em 6em;  /* Aligns sections */
     @media screen and (max-width:$max-width){
        padding: 0em 0em;
    }
}

.pagename {
    padding: 2em;
}




/****************************************  Rooster  ***************************************************/
.rooster {
    border: 2px solid blue;
    height: 25%;
    width: 25%;
    border-radius: 100%;
}