@import 'variables.scss';

.portfolio {
    background-color: #f7f6f6;
    .portfolioview {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        border: 2px solid salmon;

        .grids_4{
            margin: 1em auto;
            padding: 1em;

            .portfolioflex {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                border: 2px solid yellow;

                @media screen and (max-width:760px){
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    height: 100%;
                }
                

                .portfoliobox {
                    background-color: white;
                    margin: 1em auto;
                    padding: 2em;
                    width: 20em;
                    height: 20em;
                    border: 2px solid orange;

                }

                .rightline {
                    border-right: 2px solid gray;
                    @media screen and (max-width:$max-width) {
                        display: none;
                    }
                }
            }
            .bottomline {
                border-bottom: solid gray;

                @media screen and (max-width:$max-width) {
                    display: none;
                }
            }

        }
    }

}