@import 'variables.scss';

.portfolio {
    background-color: #f7f6f6;
    .portfolioview {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        

        &__body {
            margin: 3em auto;
            padding: 3em;
            background-color: white;
            

            &__flex {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                @media screen and (max-width:$max-width){
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    height: 100%;
                }
                

                &__box {
                    background-color: white;
                    margin: 1em auto;
                    padding: 2em;
                    width: 20em;
                    height: 20em;

                }

                .rightline {
                    border-right: 2px solid gray;
                    @media screen and (max-width:$max-max-width) {
                        border-right: none;
                    }
                }

            }

        }
    }

}