@import 'variables.scss';
/****************************************  Skills page  ***************************************************/
.skills {

    &__content {
        display: flex;
        justify-content: space-evenly;
        min-width:50%;
    
        @media screen and (max-width:$max-width) {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    
        @media screen and (min-width:$min-width) {
            justify-content: flex-start;
            align-content: space-between;
            flex-wrap: nowrap;
            padding: 0 3em;
        }
    
        @media screen and (min-width:$min-width) {
            padding: 0 10em;
        }
    
        &__bio {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
    
            &__contactdetails {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
    
                &__detail {
                    display: flex;
                    flex-direction: row;
                    align-content: flex-end;
                    align-items: center;
                    
                    
                    h4, p {
                     margin-bottom: 0;
                     padding: 1em;
                    }
                }
            }

            &__social {
                .icon {
                    height: 2em;
                    width: 2em;
                }
            }
    
            
            
        }
        .progressbar {
            flex-direction: column;
            justify-content: flex-start;
            align-content: space-between;
            min-width: 50%;
    
            &__line {
                border: 1px solid grey;
                margin: 1.5em;
                padding: 0.5em;
    
                &__text {
                    width: 85%;
                }

                &__score { 
                    color:white;
                    height: 2em;  /* Can be anything */
                    width: 100%;
                    position: relative;
                    background: rgb(243, 239, 239);
                    border-radius: 15%;
                    padding: 0.25em;
                    box-shadow: inset 0 -1em 1em rgba(255,255,255,0.3);

                    /* Progress bars */
                }

                &__score > span {
                    display: block;
                    height: 100%;
                    border-top-right-radius: 8em;
                    border-bottom-right-radius: 8em;
                    border-top-left-radius: 20em;
                    border-bottom-left-radius: 20em;
                    background-color: rgb(104, 105, 104);
                    position: relative;
                    overflow: hidden;
                    text-align: right;
                  }

    
                
            }
        }
    
    }
    
 }


 .icon {
    height: 4rem;
    width: 4rem;
}
